<aside id="sidebar" class="bg-white w-64 shadow-md transition-all duration-300 hidden lg:block">
  <div class="p-4 flex items-center justify-between border-b">
    <span class="text-xl font-bold text-green-600">
      Inka<span class="text-black sidebar-text">farma</span>
    </span>
  </div>

  <nav class="flex flex-col gap-2 p-4 text-sm">
    <a href="#" class="flex items-center gap-3 p-2 hover:bg-gray-100 rounded">
      <i class="fa-solid fa-table-columns"></i> <span class="sidebar-text">Dashboard</span>
    </a>
    <a href="#" class="flex items-center gap-3 p-2 hover:bg-gray-100 rounded">
      <i class="fa-solid fa-box"></i> <span class="sidebar-text">Productos</span>
    </a>
    <a href="/clientes" class="flex items-center gap-3 p-2 hover:bg-gray-100 rounded">
      <i class="fa-solid fa-users"></i> <span class="sidebar-text">Clientes</span>
    </a>
    <a href="#" class="flex items-center gap-3 p-2 hover:bg-gray-100 rounded">
      <i class="fa-solid fa-gear"></i> <span class="sidebar-text">Configuración</span>
    </a>
  </nav>
</aside>