<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>InkafarmaFront</title>

  <!-- DaisyUI -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

  <!-- Tailwind CDN -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/admin/style.css">
</head>

<body class="min-h-screen">
  <div class="flex flex-col lg:flex-row min-h-screen">
    <%- include('../partials/admin/sidebar') %>
      <div class="flex-1 flex flex-col">
        <%- include('../partials/admin/header') %>
          <main class="flex-1 overflow-y-auto p-6 bg-slate-100">
            <%- body %>
          </main>
      </div>
  </div>

  <!--DaisyUi-->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <!--Font Awesome-->
  <script src="https://kit.fontawesome.com/a6fe875c8d.js" crossorigin="anonymous"></script>
  <script src="/js/admin/sidebar.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="/js/admin/dataTable.js"></script>
</body>

</html>