<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>InkafarmaFront</title>

  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

 
</head>

<body class="bg-gray-100">
  <%- include('../partials/checkout/header') %>
    <main class="mt-5 w-full">
      <%- body %>
    </main>

      <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/a6fe875c8d.js" crossorigin="anonymous"></script>
    <script src="/js/main/checkout.js"></script>
</body>

</html>