<div class="px-2">
    <div class="mb-6">
        <h1 class="font-bold text-3xl uppercase text-slate-800">Administrador Atributos Categorias</h1>
        <p class="py-2 text-slate-500 text-lg">Administra los atributos que una categira debe tener tus categorias</p>
    </div>
    <div>
        <div class="py-4 flex justify-end">
            <button class="btn py-2 border-0 bg-cyan-600 hover:bg-cyan-700 text-slate-100" id="btnAbrirModal"><i
                    class="fas fa-plus mr-2"></i> Agregar
            </button>
        </div>
        <div id="divTablaCategoria" class="overflow-hidden rounded-lg shadow p-4 tailwind-table bg-slate-50">
        </div>
    </div>
</div>

<!--Link de los js-->
<script src="/js/admin/atributo.js"></script>