<link rel="stylesheet" href="/css/admin/clientes.css">
<div>
    <div  class="mb-6">
        <h1 class="font-bold text-3xl">Gestión de clientes</h1>
        <p class="py-2 text-gray-500">Administra la información de tus clientes</p>
    </div>
    <div>
           <table id="table_clientes" class="text-sm table table-striped table-hover">
                <thead class="bg-gray-100 text-gray-700 mt-4">
                    <tr>
                    <th class="px-4 py-2 text-left">Column 1</th>
                    <th class="px-4 py-2 text-left">Column 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-t">
                    <td class="px-4 py-2">Row 1 Data 1</td>
                    <td class="px-4 py-2">Row 1 Data 2</td>
                    </tr>
                    <tr class="border-t">
                    <td class="px-4 py-2">Row 2 Data 1</td>
                    <td class="px-4 py-2">Row 2 Data 2</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<script type="module" src="/js/admin/clientes.js"></script>