<div class="px-12">
    <a href="/carrito" class="inline-flex items-center text-blue-600 hover:underline text-sm font-medium">
        <i class="fas fa-chevron-left mr-1"></i>
        Volver al carrito
    </a>
</div>
<div class="flex gap-4 p-6 w-full">
    <div class="w-2/3 px-4" id="divDescripcionPedido">
      
    </div>
    <div class="w-1/3 px-4" id="divResumenPedido">
        
    </div>
</div>
<div>
    <button id="btnPagar">Pagar</button>
</div>
<!--Toast-->
<div id="toast" class="hidden fixed bottom-5 right-5 bg-emerald-500 hover:bg-emerald-600 text-white px-8 py-2 rounded shadow z-50"></div>
