<div id="home-main-content">
    <section class="portada container my-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

            <div class="carousel-inner rounded-lg overflow-hidden">
                <div class="carousel-item active">
                    <img src="/img/carrusel1.png" class="d-block w-100" alt="Primera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel2.png" class="d-block w-100" alt="Segunda imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel3.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel4.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel5.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel6.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel7.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel8.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>

    <section class="legal-text-section container my-4">
        <h1 style="color: dimgray;">
            <center>Todos los productos farmaceuticos y dispositivos medicos son distribuidos por Inretail Pharma
                S.A.(Ley 32033)</center>
        </h1>
    </section>

    <section class="promo-banner-full-width my-4">
        <img src="/img/anuncio1.png" class="d-block w-100" alt="anuncio">
    </section>

    <section class="most-searched-section container my-5" id="sectionMasBuscados">
        
    </section>

    <section class="promo-anuncio2">
        <img src="/img/anuncio2.png" class="d-block w-100" alt="anuncio2">
    </section>

    <section class="productos-belleza-section container my-5" id="sectionCuidadoPiel">
        

    </section>

    <section class="banner-delgado-salud my-4">
        <img src="/img/Salud y Bienestar.png" class="d-block w-100" alt="Banner Salud y Bienestar">
    </section>

    <section class="productos-omega-section" id="sectionFarmacia">
        
    </section>

    <section class="banner-rexona-hombres my-4">
        <img src="/img/Banner Rexona.png" class="d-block w-100" alt="Rexona">
    </section>

    <section class="most-searched-section container mt-3 mb-5" id="sectionProductosBebe">

        
    </section>

    <section class="promo-anuncio3">
        <img src="/img/anuncio3.png" class="d-block w-100" alt="anuncio">
    </section>

    <section class="productos-belleza-promo-section" id="seccionFotoproteccion">
       
    </section>

    <br>

    <section class="banner-Inkafit-gym my-4">
        <img src="/img/Banner Inkafit.png" class="d-block w-100" alt="Inkafit">
    </section>

    <section class="banner-Inkafit2-gym my-4">
        <img src="/img/Banner Inkafit2.png" class="d-block w-100" alt="Inkafit">
    </section>

    <section class="most-searched-section container my-5" id="sectionInkaFit">

    </section>

    <section class="banner-pharamol-niños my-4">
        <img src="/img/Banner Pharamol.png" class="d-block w-100" alt="Rexona">
    </section>

   
    <section class="banner-final-web my-4">
        <img src="/img/anuncio4.png" class="d-block w-100" alt="anuncio final">
    </section>



</div>
</div>
</div>
     <script src="/js/main/home.js"></script>

</div>