<footer class="text-center p-1 mt-5">
    <div class="flex" >
        <div class="text-start">
            <ul class="">
              <a href="#" class="my-2"> <li class="font-bold">Sobre InkaFarma</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Catalogo</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Boticas 24 horas</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Farmacia Vecina</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Apoyo al Paciente Inkafarma</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Productos Equivalentes</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Productos Equivalentes</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Derechos Arco</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Intercop y Socios estrategicos</li></a>
            </ul>
        </div>
        <div class="text-start">
            <ul class="">
              <a href="#" class="my-2"> <li class="font-bold">Inkafarma Digital</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Catalogo</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Boticas 24 horas</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Farmacia Vecina</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Apoyo al Paciente Inkafarma</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Productos Equivalentes</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Productos Equivalentes</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Derechos Arco</li></a>
              <a href="#" class="my-2 block colorText-1"><li>Intercop y Socios estrategicos</li></a>
            </ul>
        </div>
    </div>
</footer>