
  <div class="services-section">
    <h2>Nuestros Servicios</h2>
    <div class="services-container">

        <div class="service-block">
            <a href="https://api.whatsapp.com/send/?phone=51997551917&text&type=phone_number&app_absent=0" target="_blank" rel="wsp">
            <img src="/img/wsp.png" alt="WhatsApp Icono">
            <h3>WhatsApp</h3>
            <p>Pide tus compras también por WhatsApp. Escríbenos al <a href="https://wa.me/51997551917" target="_blank" class="phone-number">997 551 917</a></p>
        </div>

        <div class="service-block">
            <a href="https://inkafarma.pe/aliviamed" target="_blank" rel="Aliviamed">
            <img src="/img/Aliviamed.png" alt="Aliviamed Icono">
            <h3>Aliviamed</h3>
            <p>Atiéndete con un médico por teléfono desde dónde estés, llamando al <a href="tel:+5117410200" class="phone-number">741-0200</a></p>
        </div>

        <div class="service-block">
            <img src="/img/Inkafono.png" alt="Inkafono Icono">
            <h3>Inkafono</h3>
            <p>Realiza tus pedidos llamando al <a href="tel:+5113142020" class="phone-number">(01) 314 2020</a></p>
        </div>

        <div class="service-block">
            <a href="https://inkafarma.pe/informativo/programadereferidos" target="_blank" rel="Comparte y Gana">
            <center><img src="/img/ComparteGana.png" alt="Comparte y gana Icono"></center>
            <h3>Comparte y gana</h3>
            <p>Comparte tu código y gana un cupón de S/ 20 para tu próxima compra.</p>
        </div>

    </div>
</div>

<footer class="text-center p-1 mt-5 bg-white">

    <br>

    <div class="flex justify-center gap-20 mx-5"> <div class="flex gap-20">
            <div class="text-start">
                <ul>
                    <li class="font-bold">Sobre InkaFarma</li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Catalogo</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Boticas 24 horas</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Farmacia Vecina</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Apoyo al Paciente Inkafarma</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Productos Equivalentes</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Productos Equivalentes</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Derechos Arco</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Intercop y Socios estrategicos</a></li>
                </ul>
            </div>
            <div class="text-start">
                <ul>
                    <li class="font-bold">Inkafarma Digital</li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Catalogo</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Boticas 24 horas</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Farmacia Vecina</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Apoyo al Paciente Inkafarma</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Productos Equivalentes</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Productos Equivalentes</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Derechos Arco</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Intercop y Socios estrategicos</a></li>
                </ul>
            </div>
            <div class="text-start">
                <ul>
                    <li class="font-bold">Contactanos</li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Preguntas frecuentes</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Informacion Medica</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Trabaja con nosotros</a></li>
                    <li><a href="#" class="my-4 block colorText-1 text-sm">Inkafono Lima</a></li>
                </ul>
            </div>
        </div>

<div class="footer-bottom-section">

    <div class="footer-block">
        <a href="https://www.facebook.com/inkafarmaperu" target="_blank">
            <img src="/img/Siguenos.png" alt="Síguenos en Facebook e Instagram">
        </a>
    </div>

    <br>
    <br>

    <div class="footer-block">
        <a href="https://reclamos.inkafarma.com.pe/#/web/inkafarma" target="_blank">
            <img src="/img/Reclamaciones.png" alt="Libro de Reclamaciones">
        </a>
    </div>

    <br>
    <br>

    <div class="footer-block">
        <div class="app-download-links">
            <a href="https://play.google.com/store/apps/details?id=com.globant.inkafarma&pcampaignid=web_share" target="_blank">
                <img src="/img/DescargaApp.png" alt="Descarga nuestra App en Google Play y App Store">
            </a>
        </div>
    </div>

    <br>
    <br>

    <div class="footer-block">
        <img src="/img/MediosPago.png" alt="Medios de pago aceptados: Amex, Oh!, Mastercard, Visa, Oh! Pay">
    </div>

    </div>
</div>

    <br>

     <div>
         <h3>BOTICAS IP S.A.C. - R.U.C. N° 20608430301 | Copyright © Inkafarma 2022 Todos los derechos reservados</h3>
     </div>

</footer>
