<!--Carrusel de header-->
<div id="miSlider" class="carousel slide rounded-lg overflow-hidden rounded-none" data-bs-ride="carousel"
    data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/headertop1.png" class="w-full h-10 object-cover escala1-1" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="/img/headertop2.png" class="w-full h-10 object-cover escala1-1" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="/img/headertop3.png" class="w-full h-10 object-cover escala1-1" alt="Slide 3">
        </div>
    </div>
</div>

<!--Navegador Adicional-->

<div class="w-full bgVerdeI py-2 px-4 flex flex-col md:flex-row font-bold text-sm gap-2">
    <!-- Columna izquierda -->
    <div class="w-full md:w-1/2 flex items-center pl-0 md:pl-14 justify-center md:justify-start">
        <i class="fa-solid fa-phone text-white"></i>
        <span class="text-white pl-2">Inkafono - 01 314 2020</span>
    </div>

    <!-- Columna derecha -->
    <div class="w-full md:w-1/2 flex flex-wrap items-center justify-center md:justify-end gap-3 md:pr-10 text-white">
        <a href='#'><span>Agora</span> </a>
        <a href='#'><span>Tarjeta Oh!</span> </a>
        <a href='#'><span>Plaza Vea</span> </a>
        <a href='#'><span>Real Plaza</span> </a>
        <a href='#'><span>Vivanda</span> </a>
        <a href='#'><span>Oechle</span> </a>
        <a href='#'><span>Promart</span> </a>
    </div>
</div>

<header class="bg-white shadow p-3">
    <div class="">
        <div class="flex flex-col md:flex-row md:justify-between gap-4 w-full px-4">
            <div class="flex flex-col sm:flex-row items-center gap-3 w-full md:w-1/2">
                <!-- Logo -->
                <div class="w-full sm:w-1/3 flex justify-center sm:justify-start sm:items-center">
                    <a href="/" class="text-xl font-bold text-primary">
                        <img src="/img/inkafarma.svg" alt="logo" class="h-10">
                    </a>
                </div>
                <!-- Input de búsqueda -->
                <div class="relative w-full max-w-md mx-auto">
                    <div class="input-group">
                    <input type="text" id="buscadorPro" placeholder="Buscar productos..."
                        class="form-control rounded-15 pl-4 pr-10 py-3 text-sm focus:outline-none focus:shadow-none"
                        onclick="abrirBuscador()"/>
                         <span class="input-group-text bgVerdeI border-0 pe-3">
                            <i class="fa-solid fa-magnifying-glass text-white"></i>
                        </span>
                    </div>  
                </div>
            </div>
            <!-- Navegador Lateral superior-->
            <div class="w-full md:w-1/2 flex flex-col gap-3 sm:flex-row gap-4 sm:justify-end sm:pr-3 items-center">
                <a href="#" class="colorText-1" onclick="abrirModalListDireccion(event)">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Mis direcciones</span>
                    </div>
                </a>
                <a href="#" class="colorText-1">
                    <div>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Mis pedidos</span>
                    </div>
                </a>
                <div class="colorText-1" id="IniciarSesion">

                </div>
                <div>
                    <button onclick="mostrarCarrito(event)" class="colorText-2 bgCelesteBajo text-blue px-4 py-2 rounded">
                            <i class="fa-solid fa-cart-shopping "></i> <span class="totalCarrito">0</span>
                    </button>
                </div>
            </div>

        </div>
        <div>
            <!--Navegador Inferior-->
            <nav class="container d-flex items-center justify-center gap-4 pt-2">
                <div class="relative group inline-block py-2" id="dropdownCategoria">
                    <!-- Botón de categorías -->
                    <div class="px-4 pb-2 pt-1 rounded-md my-0 underline-hover relative">
                        <span>Categorías</span>
                        <i class="fa-solid fa-chevron-down text-green-500"></i>
                    </div>
                    <!-- Menú desplegable -->
                    <div id="menucategoria" class="absolute  hidden w-64 bg-white rounded-xl shadow-lg z-50 my-0">

                    </div>
                </div>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/inkafit-inkafarma-shortcut.avif" alt="Inkafit" class="h-5">
                        <span>InkaFit</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/Fotoprotector_Icon.avif" alt="Fotoproteccion" class="h-5">
                        <span>Fotoprotección</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/icono-cp.avif" alt="Cuidado del cabello" class="h-5">
                        <span>Cuidado del cabello</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/first-aid-box.avif" alt="Farmacia" class="h-5">
                        <span>Farmacia</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/inka_web_iconos_shortcut_baby.avif" alt="Farmacia" class="h-5">
                        <span>Packs para bébes</span>
                    </div>
                </a>
            </nav>
        </div>
</header>


<!-- Dialog del carrito -->
<dialog id="carritoModal" class="w-full max-w-md h-full p-0 rounded-none shadow-xl open:flex flex-col overflow-y-auto z-50">
  
</dialog>



<!-- Fondo semi-transparente (overlay realista) -->
<div id="buscadorOverlay"
     class="fixed inset-0 bg-gray-900 bg-opacity-30 transition-opacity duration-300 hidden z-40"></div>
<!-- Buscador centrado -->
<div id="modalBuscador"
     class="fixed top-20 left-1/2 transform -translate-x-1/2 w-full max-w-3xl z-50 hidden transition-all duration-300 ease-in-out">
  <div class="bg-white rounded-lg shadow-xl p-6">
    <div class="flex items-center gap-2">
      <input type="text" id="buscadorModal" placeholder="Buscar productos..."
             class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
             oninput="buscarProducto()" />
      <button onclick="cerrarBuscador()" class="pl-2">
        <i class="fa-solid fa-xmark text-2xl text-gray-600 hover:text-red-500"></i>
      </button>
    </div>
    <div id="dropdownResultadosCategoria"
         class="mt-4 max-h-80 overflow-y-auto border border-gray-200 rounded-md shadow hidden bg-white">
    </div>
  </div>
</div>


<div id="modalLoginRegistro" class="fixed inset-0 z-50 hidden bg-black/50 flex items-center justify-center">
    <div class="bg-white w-full max-w-md rounded-xl p-6 relative shadow-lg">

        <!-- Botón de cierre -->
        <button onclick="document.getElementById('modalLoginRegistro').classList.add('hidden')"
            class="absolute top-3 right-3 text-gray-500 hover:text-red-500 text-xl font-bold">
            ✕
        </button>

        <!-- Tabs -->
        <div class="flex justify-between mb-4 border-b border-gray-200">
            <button id="tab-login"
                class="w-1/2 py-2 text-center font-semibold text-green-700 border-b-2 border-green-600"
                onclick="showTab('login')">
                INICIAR SESIÓN
            </button>
            <button id="tab-register" class="w-1/2 py-2 text-center font-semibold text-gray-500 hover:text-green-600"
                onclick="showTab('register')">
                REGÍSTRATE
            </button>
        </div>

        <!-- Logo -->
        <div class="flex justify-center mb-4">
            <img src="/img/logo_inkafarma.png" alt="Inkafarma" class="w-1/2" />
        </div>

        <!-- Login -->
        <div id="login-tab" class="space-y-4">
            <div class="flex items-center border rounded-lg px-3 py-2">
                <i class="fa-solid fa-envelope text-gray-400 mr-2"></i>
                <input type="text" class="w-full outline-none" placeholder="Usuario" id="usuarioInput" />
            </div>
            <div class="flex items-center border rounded-lg px-3 py-2">
                <i class="fa-solid fa-lock text-gray-400 mr-2"></i>
                <input type="password" class="w-full outline-none" placeholder="Contraseña" id="claveInput" />
            </div>
            <button class="w-full bg-green-600 hover:bg-green-700 text-white py-2 rounded-lg font-semibold"
                id="btnLogin">INGRESAR</button>
        </div>

        <!-- Registro -->
        <div id="register-tab" class="space-y-4 hidden">
            <div class="flex items-center border rounded-lg px-3 py-2">
                <i class="fa-solid fa-user text-gray-400 mr-2"></i>
                <input type="text" class="w-full outline-none" placeholder="Nombres" />
            </div>
            <div class="flex items-center border rounded-lg px-3 py-2">
                <i class="fa-solid fa-envelope text-gray-400 mr-2"></i>
                <input type="email" class="w-full outline-none" placeholder="Correo electrónico" />
            </div>
            <div class="flex items-center border rounded-lg px-3 py-2">
                <i class="fa-solid fa-phone text-gray-400 mr-2"></i>
                <input type="text" class="w-full outline-none" placeholder="Celular" />
            </div>
            <div class="flex items-center border rounded-lg px-3 py-2">
                <i class="fa-solid fa-lock text-gray-400 mr-2"></i>
                <input type="password" class="w-full outline-none" placeholder="Contraseña" />
            </div>
            <button class="w-full bg-green-600 hover:bg-green-700 text-white py-2 rounded-lg font-semibold">REGISTRAR
                USUARIO</button>
        </div>
    </div>
</div>

<!--Buscador dirección-->
<!-- Overlay + Modal -->


<div id="overlayDireccion" class="fixed inset-0 bg-black bg-opacity-50 hidden z-[60]"></div>

<div id="modalDireccion" class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg w-full max-w-md hidden z-[60]">
  <div class="bg-white w-full max-w-md rounded-xl p-6 relative shadow-lg">
    <button onclick="cerrarModalAgregarDireccion()" class="absolute top-3 right-4 text-gray-500 hover:text-black text-3xl font-bold">&times;</button>

    <h2 class="text-xl font-bold mb-4"> <i class="fas fa-map-marker-alt text-red-500 text-xl"></i> Agregar dirección</h2>
                <input
                id="autocomplete"
                type="text"
                placeholder="Escribe una dirección..."
                class="
                border border-gray-300 w-full p-3 rounded-md shadow-sm focus:ring-1 focus:ring-green-500 focus:border-green-500 focus:outline-none transition"
                />

                <!-- Resultado -->
                <div
                id="output"
                class="
                
                mt-4 p-4 bg-gray-50 border border-gray-200 rounded-md shadow-sm text-gray-700 text-sm leading-relaxed"
                ></div>
      
        <!-- REFERENCIA -->
            <div class="py-2 pt-4">
                <p>Piso, Puerta o Referencia</p>
            </div>
            <input type="text" id="referencia"
            class="w-full border p-3 rounded mt-3 border border-gray-300 shadow-sm focus:ring-1 focus:ring-green-500 focus:border-green-500 focus:outline-none transition"
            placeholder="Ej: Entre Av. Colonial y Av. Venezuela" />


    <div class="flex gap-2 mt-4">
      <label class="flex-1">
        <input type="radio" name="tipo" value="casa" class="hidden peer" checked>
        <div class="p-3 border rounded text-center peer-checked:border-green-600 peer-checked:bg-green-100 cursor-pointer">
          🏠 Mi casa
        </div>
      </label>
      <label class="flex-1">
        <input type="radio" name="tipo" value="trabajo" class="hidden peer">
        <div class="p-3 border rounded text-center peer-checked:border-green-600 peer-checked:bg-green-100 cursor-pointer">
          🏢 Trabajo
        </div>
      </label>
      <label class="flex-1">
        <input type="radio" name="tipo" value="otros" class="hidden peer">
        <div class="p-3 border rounded text-center peer-checked:border-green-600 peer-checked:bg-green-100 cursor-pointer">
          📍 Otros
        </div>
      </label>
    </div>

    <button onclick="validarDireccion(event)" class="mt-4 w-full bg-green-600 text-white py-2 rounded">
      Guardar dirección
    </button>
  </div>
</div>


<!--Modal de Mis direcciones-->
<div id="modalListDirecciones" class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white w-full max-w-2xl rounded-2xl shadow-lg p-6">
    <!-- Encabezado -->
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center gap-2">
        <i class="fas fa-map-marker-alt text-green-600 text-xl"></i>
        <h2 class="text-xl font-semibold text-gray-800">Mis direcciones</h2>
      </div>
      <button onclick="cerrarModalListDireccion()" class="text-gray-400 hover:text-gray-600 text-xl">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <!-- Link agregar nueva dirección -->
    <div class="mb-4">
      <a href="#" class="text-sm text-blue-600 hover:underline" onclick="abrirModalAgregarDireccion(event)">Agregar nueva dirección</a>
    </div>

    <!-- Dirección -->
        <div id="resultadoDirecciones">

        </div>

    <!-- Acciones -->
    <div class="flex justify-between mt-6">
      <button onclick="cerrarModalListDireccion()" class="text-blue-600 font-semibold hover:underline">Cancelar</button>
      <button class="bg-green-600 text-white px-6 py-2 rounded-lg font-semibold hover:bg-green-700 transition" onclick="selectDireccionPrincipal(event)">
        Elegir dirección
      </button>
    </div>
  </div>
</div>

<!--Toast-->
<div id="toast" class="hidden fixed bottom-5 right-5 bg-emerald-500 hover:bg-emerald-600 text-white px-8 py-2 rounded shadow z-50"></div>
