<!--Carrusel de header-->
<div id="miSlider" class="carousel slide rounded-lg overflow-hidden rounded-none" data-bs-ride="carousel"
    data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/headertop1.png" class="w-full h-10 object-cover escala1-1" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="/img/headertop2.png" class="w-full h-10 object-cover escala1-1" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="/img/headertop3.png" class="w-full h-10 object-cover escala1-1" alt="Slide 3">
        </div>
    </div>
</div>

<!--Navegador Adicional-->

<div class="w-full bgVerdeI py-2 px-4 flex flex-col md:flex-row font-bold text-sm gap-2">
    <!-- Columna izquierda -->
    <div class="w-full md:w-1/2 flex items-center pl-0 md:pl-14 justify-center md:justify-start">
        <i class="fa-solid fa-phone text-white"></i>
        <span class="text-white pl-2">Inkafono - 01 314 2020</span>
    </div>

    <!-- Columna derecha -->
    <div class="w-full md:w-1/2 flex flex-wrap items-center justify-center md:justify-end gap-3 md:pr-10 text-white">
        <a href='#'><span>Agora</span> </a>
        <a href='#'><span>Tarjeta Oh!</span> </a>
        <a href='#'><span>Plaza Vea</span> </a>
        <a href='#'><span>Real Plaza</span> </a>
        <a href='#'><span>Vivanda</span> </a>
        <a href='#'><span>Oechle</span> </a>
        <a href='#'><span>Promart</span> </a>
    </div>
</div>

<header class="bg-white shadow p-3">
    <div class="">
        <div class="flex flex-col md:flex-row md:justify-between gap-4 w-full px-4">
            <div class="flex flex-col sm:flex-row items-center gap-3 w-full md:w-1/2">
                <!-- Logo -->
                <div class="w-full sm:w-1/3 flex justify-center sm:justify-start sm:items-center">
                    <a href="/" class="text-xl font-bold text-primary">
                        <img src="/img/inkafarma.svg" alt="logo" class="h-10">
                    </a>
                </div>
                <!-- Input de búsqueda -->
                <div class="w-full sm:w-2/3">
                    <div class="input-group">
                        <input type="text"
                            class="form-control rounded-15 pl-4 pr-10 py-3 text-sm focus:outline-none focus:shadow-none"
                            placeholder="Buscar una marca o producto" />
                        <span class="input-group-text bgVerdeI border-0 pe-3">
                            <i class="fa-solid fa-magnifying-glass text-white"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Navegador Lateral superior-->
            <div class="w-full md:w-1/2 flex flex-col gap-3 sm:flex-row gap-4 sm:justify-end sm:pr-3 items-center">
                <a href="#" class="colorText-1">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Ingresa tu dirección de entrega</span>
                    </div>
                </a>
                <a href="#" class="colorText-1">
                    <div>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Mis pedidos</span>
                    </div>
                </a>
                <a href="#" class="colorText-1" id="IniciarSesion">
                    <div>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span>Inicia Sesión</span>
                    </div>
                </a>
                <div class="colorText-2 bgCelesteBajo p-2 rounded">
                    <i class="fa-solid fa-cart-shopping "></i>
                    <span>0</span>
                </div>
            </div>

        </div>
        <div>
            <!--Navegador Inferior-->
            <nav class="container d-flex items-center justify-center gap-4 pt-2">
                <div class="relative group inline-block py-2" id="dropdown">
                    <!-- Botón de categorías -->
                    <div class="px-4 pb-2 pt-1 rounded-md my-0 underline-hover relative">
                        <span>Categorías</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <!-- Menú desplegable -->
                    <div id="menu" class="absolute  hidden w-64 bg-white rounded-xl shadow-lg z-50 my-0">
                        <ul class="py-2 text-sm text-gray-700">
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Cupones Promocionales</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Inka Packs</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Salud</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Productos Naturales</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Nutrición para Todos</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Mamá y Bebé</li>
                            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Perú Pasión</li>
                        </ul>
                    </div>
                </div>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/inkafit-inkafarma-shortcut.avif" alt="Inkafit" class="h-5">
                        <span>InkaFit</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/Fotoprotector_Icon.avif" alt="Fotoproteccion" class="h-5">
                        <span>Fotoprotección</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/icono-cp.avif" alt="Cuidado del cabello" class="h-5">
                        <span>Cuidado del cabello</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/first-aid-box.avif" alt="Farmacia" class="h-5">
                        <span>Farmacia</span>
                    </div>
                </a>
                <a href="#">
                    <div class="d-flex flex-row gap-1 underline-hover relative py-2">
                        <img src="/img/inka_web_iconos_shortcut_baby.avif" alt="Farmacia" class="h-5">
                        <span>Packs para bébes</span>
                    </div>
                </a>
            </nav>
        </div>
</header>