<div id="home-main-content">
    <section class="portada container my-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

            <div class="carousel-inner rounded-lg overflow-hidden">
                <div class="carousel-item active">
                    <img src="/img/carrusel1.png" class="d-block w-100" alt="Primera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel2.png" class="d-block w-100" alt="Segunda imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel3.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel4.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel5.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel6.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel7.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
                <div class="carousel-item">
                    <img src="/img/carrusel8.png" class="d-block w-100" alt="Tercera imagen del carrusel">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>

    <section class="legal-text-section container my-4">
        <h1 style="color: dimgray;">
            <center>Todos los productos farmaceuticos y dispositivos medicos son distribuidos por Inretail Pharma
                S.A.(Ley 32033)</center>
        </h1>
    </section>

    <section class="promo-banner-full-width my-4">
        <img src="/img/anuncio1.png" class="d-block w-100" alt="anuncio">
    </section>

    <section class="most-searched-section container my-5">
        <h2 class="section-title">Lo Más Buscado</h2>

        <div class="product-grid">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/jarabe.png" alt="Herbal & Health Ashwagandha Cápsulas" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 1 UN</p>
                    <h3 class="product-name">Herbal & Health Ashwagandha Cápsulas</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="current-price">S/ 78.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/panadol.png" alt="Panadol Niños" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 60 ML</p>
                    <h3 class="product-name">Panadol Niños 160mg/5ml Jarabe</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 13.90</span>
                        <span class="current-price">S/ 13.70</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/pañales.png" alt="pañales para niños" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">BOLSA 48 UN</p>
                    <h3 class="product-name">Pañales Ninet Talla XL</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 47.90</span>
                        <span class="current-price">S/ 41.40</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/Gel.png" alt="Gel Espumoso" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 236 ML</p>
                    <h3 class="product-name">Gel Limpiador Espumoso CeraVe Foaming Cleanser</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 66.50</span>
                        <span class="current-price">S/ 49.50</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/clearblue.png" alt="clearblue" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">CAJA 1 UN</p>
                    <h3 class="product-name">Clearblue Plus Test Embarazo</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 14.50</span>
                        <span class="current-price">S/ 13.60</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-anuncio2">
        <img src="/img/anuncio2.png" class="d-block w-100" alt="anuncio2">
    </section>

    <section class="productos-belleza-section container my-5">
        <h2 class="section-title">Belleza Esencial</h2>

        <div class="product-grid">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/bloque2.0.png" alt="Serum Eucerin" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">TUBO 30 ML</p>
                    <h3 class="product-name">Serum Eucerin Hyaluron-Filler + 3x Effect Epigenetic</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 224.90</span>
                        <span class="current-price">S/ 158.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/bloque2.1.png" alt="Gel Sensibio" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 500 ML</p>
                    <h3 class="product-name">Gel Sensibio Moussant Bioderma</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 153.90</span>
                        <span class="current-price">S/ 119.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/bloque2.2.png" alt="Fotoprotector Heliocare" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">TUBO 50 ML</p>
                    <h3 class="product-name">Fotoprotector Heliocare 360° Gel para piel Mixta a Grasa</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 124.90</span>
                        <span class="current-price">S/ 94.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/bloque2.3.png" alt="Agua Micelar" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 206 ML</p>
                    <h3 class="product-name">Agua Micelar La Roche Posay Effaclar Pieles Mixtas a Grasas</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 79.90</span>
                        <span class="current-price">S/ 58.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/bloque2.4.png" alt="Serum Anti-imperfecciones " class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 30 ML</p>
                    <h3 class="product-name">Serum Anti-imperfecciones La Roche Posay Effaclar Duo+</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 204.90</span>
                        <span class="current-price">S/ 158.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-delgado-salud my-4">
        <img src="/img/Salud y Bienestar.png" class="d-block w-100" alt="Banner Salud y Bienestar">
    </section>

    <section class="productos-omega-section"> 
        <h2 class="section-title">Omega 3 - Fish Oil</h2>

        <div class="container productos-omega-content"> <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 mb-4">
                    <div class="Sunvit-promo-banner">
                        <img src="/img/bloque3.0.png" alt="Productos de Sunvit Omega 3" class="img-fluid w-100">
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 col-sm-12">
                    <div class="product-grid product-grid-omega"> <div class="product-card">
                            <div class="product-image-container">
                                <img src="/img/bloque3.1.png" alt="" class="product-image">
                            </div>
                            <div class="product-info">
                                <p class="product-volume">FRASCO 100 UN</p>
                                <h3 class="product-name">Sunvit Fish Oil 1000mg Cápsula Blanda</h3>
                                <p class="product-brand">Inkafarma</p>
                                <div class="product-price">
                                    <span class="old-price">S/ 69.90</span>
                                    <span class="current-price">S/ 55.90</span>
                                </div>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image-container">
                                <img src="/img/bloque3.2.png" alt="" class="product-image">
                            </div>
                            <div class="product-info">
                                <p class="product-volume">FRASCO 60 UN</p>
                                <h3 class="product-name">Sunvit Fish Oil 1000mg Cápsula Blanda</h3>
                                <p class="product-brand">Inkafarma</p>
                                <div class="product-price">
                                    <span class="old-price">S/ 49.90</span>
                                    <span class="current-price">S/ 39.90</span>
                                </div>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image-container">
                                <img src="/img/bloque3.3.png" alt="" class="product-image">
                            </div>
                            <div class="product-info">
                                <p class="product-volume">FRASCO 60 UN</p>
                                <h3 class="product-name">Sunvit Nat Omega 3-6-9 1000mg Capsulas blanda</h3>
                                <p class="product-brand">Inkafarma</p>
                                <div class="product-price">
                                    <span class="old-price">S/ 63.50</span>
                                    <span class="current-price">S/ 50.80</span>
                                </div>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-rexona-hombres my-4">
        <img src="/img/Banner Rexona.png" class="d-block w-100" alt="Rexona">
    </section>

    <section class="most-searched-section container my-5">

        <div class="product-grid">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/rexona1.png" alt="Desodorante Rexona 1" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 150 ML</p>
                    <h3 class="product-name">Antitranspirante en Spray Rexona Bamboo y Aloe Vera</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 15.90</span>
                        <span class="current-price">S/ 11.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/rexona2.png" alt="Desodorante Rexona 2" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 50 ML</p>
                    <h3 class="product-name">Desodorante Antitranspirante Roll-on Rexona Bamboo</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 14.90</span>
                        <span class="current-price">S/ 11.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/rexona3.png" alt="Desodorante Rexona 3" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 150 ML</p>
                    <h3 class="product-name">Desodorante Antitranspirante en Spray Rexona Forest</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 15.90</span>
                        <span class="current-price">S/ 12.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/rexona4.png" alt="Desodorante Rexona 4" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 45 GR</p>
                    <h3 class="product-name">Desodorante Antitranspirante en Barra Rexona Forest</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 15.50</span>
                        <span class="current-price">S/ 12.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/rexona5.png" alt="Desodorante Rexona 5" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 150 ML</p>
                    <h3 class="product-name">Desodorante en Spray Rexona Women 72 Horas Active</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 15.90</span>
                        <span class="current-price">S/ 11.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>

    <section class="promo-anuncio3">
        <img src="/img/anuncio3.png" class="d-block w-100" alt="anuncio">
    </section>

    <section class="productos-belleza-promo-section"> <h2 class="section-title">Productos de Belleza</h2>

        <div class="container productos-belleza-promo-content"> <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-12 mb-4">
                    <div class="belleza-promo-banner">
                        <img src="/img/belleza.png" alt="Productos de Belleza The Ordinary Promoción"
                            class="img-fluid w-100">
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 col-sm-12">
                    <div class="product-grid product-grid-belleza-promo"> <div class="product-card">
                            <div class="product-image-container">
                                <img src="/img/frasco1.png" alt="" class="product-image">
                            </div>
                            <div class="product-info">
                                <p class="product-volume">FRASCO 100 UN</p>
                                <h3 class="product-name">Sunvit Fish Oil 1000mg Cápsula Blanda</h3>
                                <p class="product-brand">Inkafarma</p>
                                <div class="product-price">
                                    <span class="old-price">S/ 59.40</span>
                                    <span class="current-price">S/ 55.90</span>
                                </div>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image-container">
                                <img src="/img/frasco2.png" alt="" class="product-image">
                            </div>
                            <div class="product-info">
                                <p class="product-volume">FRASCO 100 UN</p>
                                <h3 class="product-name">Sunvit Fish Oil 1000mg Cápsula Blanda</h3>
                                <p class="product-brand">Inkafarma</p>
                                <div class="product-price">
                                    <span class="old-price">S/ 59.40</span>
                                    <span class="current-price">S/ 55.90</span>
                                </div>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-image-container">
                                <img src="/img/frasco3.png" alt="" class="product-image">
                            </div>
                            <div class="product-info">
                                <p class="product-volume">FRASCO 100 UN</p>
                                <h3 class="product-name">Sunvit Fish Oil 1000mg Cápsula Blanda</h3>
                                <p class="product-brand">Inkafarma</p>
                                <div class="product-price">
                                    <span class="old-price">S/ 59.40</span>
                                    <span class="current-price">S/ 55.90</span>
                                </div>
                                <button class="add-to-cart-btn">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section class="banner-Inkafit-gym my-4">
        <img src="/img/Banner Inkafit.png" class="d-block w-100" alt="Inkafit">
    </section>

    <section class="banner-Inkafit2-gym my-4">
        <img src="/img/Banner Inkafit2.png" class="d-block w-100" alt="Inkafit">
    </section>

    <section class="most-searched-section container my-5">

        <div class="product-grid">
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/inkafit1.png" alt="Inkafit 1" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 500 GR</p>
                    <h3 class="product-name">Creatine Monohydrate 500 g Polvo Oral</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 149.90</span>
                        <span class="current-price">S/ 99.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/inkafit2.png" alt="Inkafit 2" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 250 GR</p>
                    <h3 class="product-name">Creatine Monohydrate 250 g Polvo Oral</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 99.90</span>
                        <span class="current-price">S/ 79.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/inkafit3.png" alt="Inkafit 3" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">POTE 500 G</p>
                    <h3 class="product-name">100% Creatine Monohydrate Kevin Levrone</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 149.90</span>
                        <span class="current-price">S/ 99.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/inkafit4.png" alt="Inkafit 4" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 300 GR</p>
                    <h3 class="product-name">Kevin Levrone 100% Creatina Monohidratada</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 99.90</span>
                        <span class="current-price">S/ 79.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image-container">
                    <img src="/img/inkafit5.png" alt="Inkafit 5" class="product-image">
                </div>
                <div class="product-info">
                    <p class="product-volume">FRASCO 385 GR</p>
                    <h3 class="product-name">Shaboom Pump Fruit Punch Kevin Levrone</h3>
                    <p class="product-brand">Inkafarma</p>
                    <div class="product-price">
                        <span class="old-price">S/ 139.90</span>
                        <span class="current-price">S/ 97.90</span>
                    </div>
                    <button class="add-to-cart-btn">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>

    <section class="banner-pharamol-niños my-4">
        <img src="/img/Banner Pharamol.png" class="d-block w-100" alt="Rexona">
    </section>

    <section class="productos-colgate-section">
    <div class="container productos-colgate-content">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 mb-4">
                <div class="colgate-promo-banner">
                    <img src="/img/Banner Colgate.png" alt="Productos Colgate Promoción" class="img-fluid w-100">
                </div>
            </div>

            <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="product-grid product-grid-colgate">
                    <div class="product-card">
                        <div class="product-image-container">
                            <img src="/img/colgate1.png" alt="Pasta Dental Niños Colgate Smiles Minions x75ml" class="product-image">
                        </div>
                        <div class="product-info">
                            <p class="product-volume">TUBO 75 ML</p>
                            <h3 class="product-name">Pasta Dental Para Niños Colgate Smiles Minions x75ml</h3>
                            <p class="product-brand">Inkafarma</p>
                            <div class="product-price">
                                <span class="old-price">S/ 13.80</span>
                                <span class="current-price">S/ 9.90</span>
                            </div>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image-container">
                            <img src="/img/colgate2.png" alt="Cepillo de Dientes para Niños Colgate Smiles 0-2 Años" class="product-image">
                        </div>
                        <div class="product-info">
                            <p class="product-volume">BLISTER 1 UN</p>
                            <h3 class="product-name">Cepillo de Dientes para Niños Colgate Smiles 0-2 Años</h3>
                            <p class="product-brand">Inkafarma</p>
                            <div class="product-price">
                                <span class="old-price">S/ 12.50</span>
                                <span class="current-price">S/ 9.90</span>
                            </div>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image-container">
                            <img src="/img/colgate3.png" alt="Cepillo de Dientes Colgate Smiles Batman/Barbie 5+ Años" class="product-image">
                        </div>
                        <div class="product-info">
                            <p class="product-volume">PACK 1 UN</p>
                            <h3 class="product-name">Cepillo de Dientes Colgate Smiles Batman/Barbie 5+ Años</h3>
                            <p class="product-brand">Inkafarma</p>
                            <div class="product-price">
                                <span class="old-price">S/ 12.50</span>
                                <span class="current-price">S/ 9.90</span>
                            </div>
                            <button class="add-to-cart-btn">Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    
    <section class="banner-final-web my-4">
        <img src="/img/anuncio4.png" class="d-block w-100" alt="anuncio final">
    </section>

    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content"> <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="login-form-container">
                        <div class="tabs">
                            <span class="tab active" data-form="login">INICIAR SESIÓN</span>
                            <span class="tab" data-form="register">REGÍSTRATE</span>
                        </div>

                        <div class="logo-container">
                            <center><img src="/img/inkafarma.svg" alt="inkafarma" class="login-logo"></center>
                        </div>

                        <form class="login-form" id="loginForm">
                            <input type="email" placeholder="Correo" class="login-input">
                            <input type="password" placeholder="Contraseña" class="login-input">
                            <button type="submit" class="login-button">INICIAR</button>
                            <div class="forgot-password">¿Olvidaste Contraseña?</div>
                        </form>

                        <form class="register-form" id="registerForm">
                            <select class="login-input">
                                <option value="">Tipo de Rol</option>
                                <option value="cliente">Cliente</option>
                                <option value="otro">Otro</option>
                            </select>
                            <input type="text" placeholder="Número de documento" class="login-input">
                            <input type="text" placeholder="Nombres" class="login-input">
                            <input type="text" placeholder="Apellido paterno" class="login-input">
                            <input type="text" placeholder="Apellido materno" class="login-input">
                            <input type="email" placeholder="Correo electrónico" class="login-input">
                            <input type="text" placeholder="Celular" class="login-input">
                            <input type="password" placeholder="Contraseña" class="login-input">
                            <select class="login-input">
                                <option value="">Selecciona tu género</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                            </select>
                            <button type="submit" class="login-button">REGISTRAR USUARIO</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>

</div>