<header>
<div class="w-full bg-white py-4 px-8 flex justify-between items-center border-b shadow-sm">
  <!-- Logo -->
  <div class="flex items-center space-x-2">
    <img src="/img/inkafarma.svg" alt="Inkafarma" class="h-6 w-auto">
  </div>

  <!-- Texto seguro -->
  <div class="flex items-center space-x-2 text-md">
    <span class="text-gray-700 font-bold">Su compra en Inkafarma es 100% segura</span>
    <i class="fas fa-shield-alt text-green-600"></i> <!-- Ãcono de escudo de Font Awesome -->
  </div>
</div>
</header>
